.menu-list {
  position: fixed;
  top: 9rem;
  left: 0rem;
  width: 30rem;
  height: 25rem;
  z-index: 7;
  font-family: 'Roboto', sans-serif;
  background-color: #f4efe7;
  // color: #f4efe7;
  padding: 0 0 0 2rem;

  font-weight: 400;

  &-item {
    list-style: none;
    margin: 2rem auto;

    &-link {
      text-decoration: none;
      // color: #f4efe7;
      color: #000000;
    }

    &-link:hover {
      color: #f06260;
    }
  }

  &-item:hover {
    color: #f06260;
  }

  .logout {
    cursor: pointer;
  }
}
