@import '../../../utils/variables.scss';

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border-bottom: 0.5px solid #000000;
  font-size: $font-size-mobile;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  margin-top: 1rem;

  &-company-name {
    margin: 0 auto;
  }

  &-user-icon {
    // margin-right: ;
    color: grey;
  }
}
