@import '../../utils/variables.scss';

.goals {
  font-family: $font-main;
  font-weight: $font-size-main;
  position: relative;
  display: flex;
  flex-direction: column;

  &-header {
    text-align: center;
  }

  &-tiles {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
