@import '../../utils/variables.scss';

.goals {
  font-family: $font-main;
  font-weight: $font-size-main;
  position: relative;
  display: flex;
  flex-direction: column;

  &-header {
    text-align: center;
  }

  &-tiles {
    padding: 4rem 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &-chart-icon {
    height: 5em;
    width: 5em;
  }

  .svg-inline--fa.fa-w-16 {
    width: 5em;
  }
}
